@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixin.scss" as *;

.login-signup-modal-page {
  @include col;
  align-items: center;
  &__head {
    @include flex;
    justify-content: space-between;
    width: 479px;
  }

  &__body {
    @include col;
    align-items: center;
    gap: 16px;
    padding: 39px 128px 73px 128px;
    p{
      font-weight: 400;
      font-size: 14px;
    }
    button {
      padding: 10px 24px;
      border: 1px solid #2C7BF3;
      background-color: #DFE9FF;
      color: #2C7BF3;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      transition: filter ease 200ms;

      &:hover {
        filter: brightness(105%);
      }
    }
  }
}
