@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;

.services-section-container {
  width: 1200px;
  @include col;
  gap: 8px;

  &__title-container {
    @include flex;
    gap: 4px;
    p {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &__item {
      height: 53px;
      border-radius: 8px;
      @include flex;
      align-items: center;
      justify-content: center;
      color: black;
      background-color: #e8e8e8;
      border-bottom: 2px solid #2c7bf3;
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      transition: background-color ease 300ms;

      &:hover {
        border-bottom-width: 3px;
        transform: translateY(-1px);
      }

      &--active {
        background-color: #2c7bf3;
        color: white;
      }
    }
  }
}
