.dropdown {
  width: 100%;
  position: relative;
  font-family: inherit;

  &__header {
    padding: 8px 12px;
    border: 1px solid #81b3ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: row-reverse;

    &__label {
      color: #292929;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__list {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border: 1px solid #80bfff;
    border-top: none;
    border-radius: 0 0 8px 8px;
    z-index: 10;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
    pointer-events: none;

    &.open {
      transform: scaleY(1);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__item {
    text-align: end;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    &:hover {
      background-color: #f0f0f0;
    }

    &.selected {
      background-color: #eaf3ff;

      .dropdown__check {
        visibility: visible;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-direction: row-reverse; // matches RTL alignment
    }

    &__image {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 4px;
      flex-shrink: 0;
    }

    &__label {
      font-size: 14px;
      color: #292929;
    }
  }

  &__check {
    all: unset;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3399ff;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    &:checked {
      background-color: #cee7ff;
      border-color: #3399ff;
    }

    &:checked::after {
      content: "✓";
      color: #3399ff;
      line-height: 1;
    }
  }
}
