// Main Colors
$primary: #1e4d4d;
$primary-very-light: #88d5d5;
$primary-light: #67b3b3;
$primary-preMedium: #4b9191;
$primary-medium: #326f6f;

$primary-10: rgba(30, 77, 77, 0.1);
$primary-20: rgba(30, 77, 77, 0.2);

$secondary: #4b9191;

$text: #383a40;
$text-10: rgba(56, 58, 64, 0.1);
$medium-text: #4d5057;
$light-text: #64666d;
$very-light-text: #7b7d84;

$bg: #f7f7f8;
$card-bg: #e0e4e6;
$text-bg: #f4f4f4;
$white: #fff;
$light: #abadb1;
$shape: #cdced0;

// Shadow and Border
$shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
$card-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
$tbl: #3a6969;
$hover: rgba(19, 85, 119, 0.2);
$blue-bg: rgba(85, 198, 255, 0.09);
$gray-border: rgba(19, 85, 119, 0.1);

// Other
$pink: rgb(253, 79, 204);
$pink-medium: rgba(253, 79, 204, 0.8);
$pink-light: rgba(253, 79, 204, 0.1);
$red: #8f1512;
$red-10: rgba(143, 21, 18, 0.1);
$orange: #fb9013;
// 