@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;

.specialists-section {
  &__title-container {
    width: 1200px;
    @include flex;
    gap: 16px;
    &__title {
      @include flex;
      min-width: 109px;
      gap: 8px;
      font-weight: 600;
      font-size: 24px;
      color: #2c7bf3;
    }

    &__sep {
      width: 90%;
      height: 1px;
      background: repeating-linear-gradient(
        to left,
        #2c7bf3 0 5px,
        transparent 5px 10px,
        #2c7bf3 10px 20px,
        transparent 20px 30px
      );
    }
  }

  &__body {
    display: flex;
    gap: 32px;

    &__search-container {
      background-color: #f1f6fd;
      height: 400px;
      width: 342px;
      border-radius: 8px;
      padding: 16px 18px;
    }

    &__specialists-container {
      background-color: #f1f6fd;
      height: 400px;
      width: 826px;
      border-radius: 16px;
      padding: 16px 47px;
    }
  }
}
