@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.shopping-cart-page {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 30px;

  &__shopping-cart-container {
    width: 1200px;
    min-height: 1200px;
    margin: 0 auto;
    @include col;
    gap: 24px;

    &__body {
      border: 1px solid #BED6FB;
      width: 100%;
      border-radius: 16px;
      min-height: 400px;
      padding: 16px;
      @include col;
      gap: 32px;

      &__items {
        @include flex;
        align-items: start;
        justify-content: space-between;
      }
    }
  }
}
