@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixin.scss" as *;

.modal {
  @include center-x;
  @include center-y;

  position: fixed;
  inset: 0;
  z-index: 999;

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content {
    position: relative;
    background-color: $white;
    border-radius: 16px;
    z-index: 1;
    box-shadow: $shadow;
    // max-width: 750px;
    width: fit-content;
  }

  &__body {
    width: fit-content;
    color: $text;
    @include col;
    align-items: end;
  }
}
