@use "../../../../../styles/variables.scss" as *;
@use "../../../../../styles/mixin.scss" as *;

.time-selection-modal {
  width: 752px;
  padding: 24px;
  @include col;

  &__price {
    font-size: 16px;
    font-weight: 500;
    margin-top: 24px;
    span {
      color: #2c7bf3;
    }
  }

  &__dates-container {
    margin-top: 24px;
    flex: 1;
    border: 1px solid #bed6fb;
    border-radius: 8px;
    padding: 16px;
    @include flex;
    align-items: start;
    gap: 21px;
    flex-wrap: nowrap;
    overflow-x: auto;
    user-select: none;

    &--grabbing {
      cursor: grabbing;
    }

    &::-webkit-scrollbar {
      height: 6px;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      outline: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &__date {
      @include col;
      gap: 8px;

      &__card {
        width: 97px;
        height: 88px;
        border: 1px solid #a3a6b2;
        border-radius: 8px;
        @include col;
        gap: 16px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: border-color ease-out 200ms;

        &:hover {
          border-color: #bed6fb;
          p {
            color: #9ec2f9;
          }
        }

        p {
          transition: color ease-out 200ms;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #616262;
        }
      }

      &__time-container {
        @include col;
        gap: 8px;
        &__time {
          @include flex;
          gap: 8px;

          label {
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
          }
          input[type="radio"] {
            appearance: auto;
          }
        }
      }

      &--selected {
        .time-selection-modal__dates-container__date__card {
          border-color: #2c7bf3;

          p {
            color: #2c7bf3;
          }

          &:hover {
            filter: brightness(130%);
          }
        }
      }
    }
  }
}
